# Systemd service which is executed before a sleep event for locking
# Source: https://wiki.archlinux.org/title/Power_management#Sleep_hooks
# This solution is preferred over xss-lock since xss-lock gets triggered
# on X-screensaver and DPMS events without a possibility of disabling

[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=%i
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/%i/bin/pre-sleep-hook
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
