[Unit]
Description=User suspend actions
After=sleep.target

[Service]
User=%i
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/%i/bin/post-sleep-hook

[Install]
WantedBy=sleep.target
